.todoItem div {
  display: flex;
}

.todoItem form {
  width: 100%;
}

.activeTodo {
  cursor: url(./pencil_cursor.png) 0 20, pointer;
  width: 100%;
}

.dragIcon {
  cursor: n-resize;
}

.completedTodo {
  color: rgba(0, 0, 0, 0.3);
}

.actionIcons {
  float: right;
}
